<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
    <div #numberbtn>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="callAnime()">Anime.js</ion-button>
  <ion-button expand="block" (click)="doMagic()">Magic CSS</ion-button>
  <ion-button expand="block" (click)="flip()">Number Flip</ion-button>
  <ion-button expand="block" (click)="animateItems()">Anime.css</ion-button>
  <ion-button expand="block" (click)="transition()">Bounce</ion-button>
  <div class="animate-me" #box>

  </div>
</ion-content>
