<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
    <div #numberbtn>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="callAnime()">Anime.js</ion-button>
  <ion-button expand="block" (click)="doMagic()">Magic CSS</ion-button>
  <ion-button expand="block" (click)="flip()">Number Flip</ion-button>
  <ion-button expand="block" (click)="animateItems()">Anime.css</ion-button>
  <ion-button expand="block" (click)="transition()">Fade Transition</ion-button>
  <div class="animate-me" #box>

  </div>
  <ion-fab>
    <ion-fab-button>Button</ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>Default</ion-fab-button>

  <!-- Mini -->
  <ion-fab-button size="small">Mini</ion-fab-button>

  <!-- Colors -->
  <ion-fab-button color="primary">Primary</ion-fab-button>
  <ion-fab-button color="secondary">Secondary</ion-fab-button>
  <ion-fab-button color="danger">Danger</ion-fab-button>
  <ion-fab-button color="light">Light</ion-fab-button>
  <ion-fab-button color="dark">Dark</ion-fab-button>
     
    </ion-fab-list>
  </ion-fab>
</ion-content>
